{
  "repositoryUrl": "https://github.com/braybatista/Konex.git",
  "branches": ["master", "main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "eslint",
        "releaseRules": [
          { "tag": "fix", "release": "patch" },
          { "tag": "feat", "release": "minor" },
          { "tag": "update", "release": "minor" },
          { "tag": "upgrate", "release": "minor" },
          { "tag": "breaking", "release": "major" },
          { "tag": "docs", "release": "patch" },
          { "tag": "chore", "release": "minor" },
          { "tag": "build", "release": "patch" },
          { "tag": "ci", "release": "patch" },
          { "tag": "refactor", "release": "minor" },
          { "tag": "test", "release": "patch" },
          { "tag": "perf", "release": "minor" }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "eslint"
      }
    ],
    "@semantic-release/github"
  ],
  [
    "@semantic-release/changelog",
    {
      "changelogFile": "docs/CHANGELOG.md"
    }
  ]
}
