{
  "branches": ["master", "main"],
  "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/npm",
        {
          "npmPublish": false,
          "tarballDir": "dist"
        }
      ],
      ["@semantic-release/github", {
      "assets": [
        {"path": "SpringBoot/Konex/target/Konex-0.0.1-SNAPSHOT.jar", "label": "jar generated"}
      ]
    }]
    ]
}
