{
  "repositoryUrl": "https://github.com/braybatista/Konex.git",
  "branches": ["master", "main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "eslint",
        "releaseRules": [
          { "tag": "fix", "release": "patch" },
          { "tag": "feat", "release": "minor" },
          { "tag": "update", "release": "minor" },
          { "tag": "upgrate", "release": "minor" },
          { "tag": "breaking", "release": "major" },
          { "tag": "docs", "release": "patch" },
          { "tag": "chore", "release": "minor" },
          { "tag": "build", "release": "patch" },
          { "tag": "ci", "release": "patch" },
          { "tag": "refactor", "release": "minor" },
          { "tag": "test", "release": "patch" },
          { "tag": "perf", "release": "patch" }
        ],
        "parserOpts": {
        "noteKeywords": [
          "BREAKING CHANGE",
          "BREAKING CHANGES",
          "breaking",
          "Breaking",
          "BREAKING"
        ]
      }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "eslint",
        "presetConfig": {
          "types": [
            { "tag": "breaking", "section": "Major version release", "hidden": false },
            { "tag": "BREAKING", "section": "Major version release", "hidden": true },
            { "tag": "feat", "section": "Features", "hidden": false },
            { "tag": "fix", "section": "testing message section", "hidden": false },
            { "tag": "hotfix", "section": "Bug Fixes", "hidden": false },
            { "tag": "update", "section": "Updates", "hidden": false },
            { "tag": "upgrate", "section": "Upgrates", "hidden": false },
            { "tag": "docs", "section": "Documentation", "hidden": false },
            { "tag": "chore", "section": "Chores", "hidden": false },
            { "tag": "build", "section": "CI/CD Changes", "hidden": false },
            { "tag": "ci", "section": "CI/CD Changes", "hidden": false },
            { "tag": "test", "section": "Tests", "hidden": false },
            { "tag": "refactor", "section": "Refactoring", "hidden": false },
            { "tag": "perf", "section": "Performance Improvements", "hidden": false }
          ],
        }
      }
    ],
    "@semantic-release/github"
  ]
}
